extends layout
block content
  .container
    .center-block.letter
      h1.text-center="Create a Beautiful Letter"
      hr
      form.form-horizontal(method="post", action="/pdf")
          .form-group
              label.col-sm-2.control-label Subject
              .col-sm-9
                input.form-control(type="text", name="subject", value="")
          .form-group
              label.col-sm-2.control-label Author
              .col-sm-9
                input.form-control(type="text", name="author", value="")
          .form-group
              label.col-sm-2.control-label City
              .col-sm-9
                input.form-control(type="text", name="city", value="")
          .form-group
              label.col-sm-2.control-label From:
              .col-sm-9
                input.form-control(type="text", name="from1", value="")
          .form-group
              .col-sm-offset-2.col-sm-9
                input.form-control(type="text", name="from2", value="")
          .form-group
              label.col-sm-2.control-label To:
              .col-sm-9
                input.form-control(type="text", name="to1", value="")
          .form-group
              .col-sm-offset-2.col-sm-9
                input.form-control(type="text", name="to2", value="")
          .form-group
              .col-sm-offset-2.col-sm-9
                input.form-control(type="text", name="to3", value="")
          .form-group
              label.col-sm-2.control-label Text
              .col-sm-9
                textarea.form-control(rows="8", name="content", placeholder="")
          .form-group
              .col-sm-offset-2.col-sm-9
                input.btn.btn-primary(type="submit", value="Create PDF")
      br
      hr
      footer
         p.text-center
           | Made by 
           a(href="https://twitter.com/vnglst") Koen van Gilst
           | . Based upon the 
           a(href="http://mrzool.cc/tex-boilerplates") beautiful LATEX boilerplates
           |  by 
           a(href="https://twitter.com/mrzool_") Mattia Tezzele
           |  and the 
           a(href="https://medium.com/@dimitrieh/a-curriculum-vitae-latex-typesetting-automation-adventure-with-gitlab-6ac233c0b66b#.57lf809qi") Docker image
           |  by 
           a(href="https://twitter.com/dimitrieh") Dimitrie Hoekstra
           | . 
           a(href="https://github.com/vnglst/latex-letter") Source code 
           | available on Github.